<!DOCTYPE html>
<html>
    <head>
        <title>Mentorship Matcher</title>
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap" rel="stylesheet">
    </head>
    <body>
            <h1>404 Error</h1>
            <p>Page does not exist. <a href="start">Return to start.</a></p>
    </body>
</html>