<!DOCTYPE html>
<html lang="en">
<head>
    <title>Focus of Mentorship</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap" rel="stylesheet">
    <script src="/main.js"></script> 
</head>
<body>
    <div class="preferences-container">
    <div class="preferences-title">Academic/Career Mentorship Focus</div>
    <form class="options" action="{{ url_for('academic') }}" method="post">
    <input type="radio" id="classes" name="academic_preference" value="classes" class="option-input" data-speech-command="choosing major, classes">
    <label for="classes" class="option-label">Choosing Major/Classes</label>

    <input type="radio" id="thesis" name="academic_preference" value="thesis" class="option-input" data-speech-command="thesis, research">
    <label for="thesis" class="option-label">Thesis/Research</label>

    <input type="radio" id="profdev" name="academic_preference" value="profdev" class="option-input" data-speech-command="professional development, career">
    <label for="profdev" class="option-label">Professional Development</label>

    <input type="radio" id="grad-school" name="academic_preference" value="grad-school" class="option-input" data-speech-command="grad school, graduate">
    <label for="grad-school" class="option-label">Grad School</label>

    <button type="submit" class="submit-button" data-speech-command="submit">Submit</button>
    </form>
    <button onclick="location.href='start'" class="restart-button" data-speech-command="restart">Restart</button>
    </div>
</body>
</html>