<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mentorship Matcher</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap" rel="stylesheet">
    <script src="/main.js"></script> 
  </head>
  <body>
    <div class="preferences-container">
      <div class="preferences-title">Which cultural identity would you like them to be affiliated with?</div>
      <form class="options" method="POST">
        <input type="radio" id="asian" name="cultural_identity" value="asian" class="option-input" data-speech-command="asian">
        <label for="asian" class="option-label">Asian</label>

        <input type="radio" id="black-african-american" name="cultural_identity" value="black-african-american" class="option-input" data-speech-command="black, african, american">
        <label for="black-african-american" class="option-label">Black/African American</label>

        <input type="radio" id="white" name="cultural_identity" value="white" class="option-input" data-speech-command="white">
        <label for="white" class="option-label">White</label>

        <input type="radio" id="latinx" name="cultural_identity" value="latinx" class="option-input" data-speech-command="latinx">
        <label for="latinx" class="option-label">Latinx</label>

        <input type="radio" id="native-american" name="cultural_identity" value="native-american" class="option-input" data-speech-command="native, american">
        <label for="native-american" class="option-label">Native American</label>
      </form>
      <button onclick="location.href='start'" class="restart-button">Restart</button>
    </div>
  </body>
</html>
